<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <h1>Hello <%= person %> </h1>
        <ul>
            <li><strong>Age <%= data.age %> </strong></li>
            <li><strong>Job <%= data.job %> </strong></li>  
        </ul>

    </body>
</html>